.quiz-truefalse-review {
  width: 18rem;
  justify-content: center;
  text-align: center;
  padding: 2%;
  background-color: aliceblue !important;
  margin: 6%;
}

.quiz-truefalse-gif {
  width: 80%;
  justify-content: center !important;
  align-items: center;
  padding: 2%;
  margin-left: 8%;
  border-radius: 9px;
}

.quiz-truefalse-restart {
  background-color: lightgray !important;
  color: black !important;
  border-radius: 6px;
  border: black solid 3px !important;
  margin: 0 auto ;
  width:100px;
}
.quiz-truefalse-restart:hover {
  background-color: orange !important;
}
