/* media screen responsive  */

@media screen and (max-width: 950px) {
  .subject-container {
    width: 150px !important;
    display: none;
  }

  .subject-nav {
    width: 150px !important;
    display: none;
  }

  .cour-layout {
    width: 100% !important;
  }
}

/* Cour Layout */

.cour-layout {
  height: 100%;
  min-height: 600px;
  width: 70%;
  padding-bottom: 10px;
}

.cour-layout-border {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px 1.5rem !important;
  border-radius: 15px !important;
}

.cour-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

/* Cour Layout Titels  */

.cour-titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.pagename {
  color: #9f9084;
  padding: 10px;
}

.pageTitle {
  font-size: 25px;
  color: #9f9084;
  font-weight: 700;
}

@media screen and (max-width: 950px) {
  .pageTitle {
    display: none;
  }
}



/* Subject :horizontal */

.subject-navbar {
  display: none !important;
  width: 100% !important;
  min-width: 100%;
  background: white !important;
  margin: 0px !important;
  margin-bottom: 23px !important;
  padding: 0px !important;
}

.subject-navbar-nav {
  width: 100% !important;
  overflow-x: scroll;
  display: flex !important;
  flex-wrap: nowrap;
  flex-direction: row !important;
}

.subject-navbar-nav a {
  margin: 3px 10px;
  width: 150px !important;
  min-width: 140px;
  max-width: 150px;
  text-align: center;
  background-color: #f7f1ed;
  border-radius: 10px;
  padding: 15px 3px;
}

.nav-pills .nav-link.active {
  background-color: #f7f1ed !important;
  color: rgb(63, 60, 60);
  border-radius: 15px;
}
.nav-pills .nav-link:hover {
  color: black !important;
}

@media screen and (max-width: 950px) {
  .subject-navbar {
    display: block !important;
  }
}

/* end */

/* Subject Nav  */

.subject-container {
  max-width: 275px;
  width: 275px;
  text-align: left;
  background-color: white !important;
  border-radius: 25px;
  margin-top: 10px !important;
  padding: 10px 5px;
}

.subject-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.subject-ul a {
  margin: 0px 10px;
  width: 100px !important;
  text-align: center;
  font-size: 15px !important;
}

.subject-ul .nav-link {
  background-color: white !important;
  margin: 7px 13px;
  border-radius: 20px;
  padding: 10px;
  color: #505050;
  font-weight: 600;
  font-size: 15px;
  width: 250px !important;
  text-align: start;
}

.subject-ul .nav-link.active {
  background-color: rgb(37, 196, 164) !important;
  color: white;
  border-radius: 15px;
}

a {
  text-decoration: none;
}

/* .nav-item.dropdown-toggle:hover .dropdown-menu {
  display: block !important;
} */

.nav-link:hover {
  background-color: rgb(37, 196, 164) !important;
  color: aliceblue !important;
  transition: ease-in-out 0.1s;
}

.subject-ul #nav-dropdown {
  padding: 10px 10px !important;
  width: 250px !important;
  margin: 0px;
}

/* .subject-nav-drop .dropdown-menu {
  top: 0 !important;
  right: auto;
  left: 100%;
  inset: -60px auto auto 250px !important;
} */

/* Table card Frame */

.tcard-cont {
  background: #f7f1ed;
  border: solid 3px #f7f1ed;
  margin: 15px 100px !important;
  padding: 0px !important;
  padding-bottom: 7px !important;
  width: 100% !important;
  height: 75px;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}

.tcard {
  border-radius: 15px;
  background-color: white;
  width: 100%;
  margin: 0px 0px 3px 0px;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.tcard-cont:hover {
  transition: ease 0.3s;
  transform: translateY(7px);
  padding-bottom: 0px !important;
  overflow: hidden;
}

.tcard-text {
  font-weight: 400;
  font-size: 18px;
  color: #505050;
}

@media screen and (max-width: 500px) {
  .tcard-text {
    font-size: 14px;
  }
}

/* Prof Card  */

.prof-card {
  /* background-image: url("../LyceenaCard/oo.svg"); */
  background: #29be87 !important;
  margin: 15px 100px !important;
  padding: 0px !important;
  padding-bottom: 7px !important;
  height: 165px;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f7f1ed;
  border-bottom: 5px solid #f1dfcf;
}

.prof-img {
  border-radius: 15px;
  margin: 6px;
  width: 45%;
  height: 90%;
  max-height: 100%;
  max-width: 100%;
}

.prof-info {
  width: 50%;
}

.prof-text {
  font-size: 30px;
  color: white;
}

.prof-text span {
  color: #0a2332;
  font-weight: 700;
}

/* prof-responsive  */

@media screen and (max-width: 500px) {
  .prof-img {
    width: 55%;
  }

  .prof-text {
    font-size: 20px;
  }
}

/* Large Text */

.chapter-text {
  text-align: left;
  font-size: 30px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.7;
  color: #505050;
}

.chapter-number {
  text-align: left;
  font-size: 23px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.56;
  color: #505050;
}

/* responsive-chapter-text */

.search-bar-parent {
  background-color: #f7f1ed;
  width: 50% !important;
  border-radius: 15px !important;
}

.search-bar {
  border: none;
  background-color: #f7f1ed;
  border-radius: 15px !important;
}

.search-icon {
  background-color: #f7f1ed !important ;
  border: none !important;
  border-radius: 15px;
  padding: 6px;
}

@media screen and (max-width: 500px) {
  .chapter-text {
    font-size: 17px;
  }

  .chapter-number {
    font-size: 19px;
  }
  .search-bar-parent {
    width: 100% !important;
  }
}
/* custom subject btn  */

.custom-sub-btn {
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: 600;
  letter-spacing: 0.7px;
  font-size: 15px !important;

  color: rgb(37, 196, 164);
  background-color: white !important;
  border: 2px solid rgb(37, 196, 164);
}

.custom-sub-btn:hover {
  background-color: rgb(37, 196, 164) !important;
  border: 2px solid #f7f1ed;
  color: white;
}

/* Cour Read Page And Revision Page  */
.cour-read-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cour-read-layout {
  height: 100%;
  width: 60%;
}

.cour-read-cont {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin-top: 3rem;
  padding: 20px;
  padding-top: 7%;
  width: 100%;
  border-radius: 15px;
}

.cour-read-title {
  text-align: start;
  font-size: 2rem;
  font-weight: 600;
  color: #505050;
  padding-bottom: 2rem;
  border-bottom: 10px dotted #cb50aa;
  margin-bottom: 1rem;
}

.cour-read-subTitle {
  font-size: 1.4rem;
  font-weight: 800;
  color: #cb50aa;
}

.introduction {
  margin: 2rem 0rem;
  font-size: 1.7rem;
  color: black;
}

.cour-read-text {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0rem;
}

.cour-read-fiche {
  width: 100%;
  height: 1000px !important;
  margin-top: 2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.exercice-wraper {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.exercice-wraper::selection {
  background-color: transparent;
  color: inherit;
}

.exercice-wraper::-moz-selection {
  background-color: transparent;
  color: inherit;
}

.exercice-pdf {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.exercice-pdf .react-pdf__Page__canvas {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  border: 3px solid black;
  
}

/* Disable Page Print  */


@media print {
  body {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .cour-read-layout {
    width: 100%;
  }
}

/* Custom Close Button X */
.custom-sub-close-btn {
  background-color: #ffffff !important;
  border-radius: 50%;
  color: black;
  font-size: 23px;
  border: 2px solid #f7f1ed;
  width: 40px;
  height: 40px;
  box-shadow: -6px 6px 0 0 rgba(239, 218, 199, 0.75);
  user-select: none;
  transition: ease 0.3s;
}

.custom-sub-close-btn:hover {
  color: gray;
  box-shadow: -3px 3px 0 0 rgba(239, 218, 199, 0.75);
}
